<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="row mg-t-0">
        <div class="col-md">
          <label class="tx-gray-600">RECOUVREMENT EN CARBURANT</label>
          <div class="billed-to mg-b-10">
            <p>Immatriculation : DE-12345678</p>
            <p>N° Carte carburant : DE-12345678</p>
            <p>Montant dotation carburant : DE-12345678</p>
          </div>
        </div>
        <div class="col-md">
          <label class="tx-gray-600"></label>
          <p class="invoice-info-row">
            <span>Date butoire</span> <span></span>
          </p>
          <p class="invoice-info-row">
            <span>Montant versé</span> <span>xxxx</span>
          </p>
          <p class="invoice-info-row">
            <span>Reste à recouvrer</span> <span>5000</span>
          </p>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
