<app-menubar></app-menubar>
<!-- main-sidebar -->

<!-- main-content -->
<div class="main-content app-content">
  <!-- main-header -->
  <app-top-menu></app-top-menu>
  <!-- /main-header -->

  <!-- container -->
  <div class="container-fluid">
    <!-- breadcrumb -->
    <app-breadcrumb
      [agent]="agent"
      [title]="title"
      [subtitle]="subtitle"
    ></app-breadcrumb>
    <!-- breadcrumb -->

    <!-- row -->
   
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-body">
            <div>
              <h6 class="card-title mb-1">Numero d'immatriculation du véhicule</h6>
              <p class="text-muted card-sub-title">
                Veuillez remplir les champs ci dessous pour procéder au
                recouvrement
              </p>
            </div>

            <form [formGroup]="searchAccountForm" (ngSubmit)="searchAccount()">
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="input-group">
                    <input
                      class="form-control"
                      formControlName="phoneNumber"
                      type="text"
                      placeholder=""
                    />
                    <span class="input-group-btn">
                      <button
                        class="btn ripple btn-primary br-tl-0 br-bl-0"
                        type="submit"
                      >
                        RECHERCHER
                      </button>
                    </span>
                  </div>
                  <div
                    *ngIf="shouldDisplayErrorMessage"
                    class="alert alert-danger mg-b-4 col-lg-6 col-md-12 mt-3"
                    role="alert"
                  >
                    <button
                      aria-label="Close"
                      class="close"
                      data-dismiss="alert"
                      type="button"
                    >
                      <span aria-hidden="true">×</span>
                    </button>
                    {{ errorMessage }}
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="searchResult" class="row col-lg-12 col-md-12">
       <app-recouvrement-terrain class="row col-lg-6 col-md-6"></app-recouvrement-terrain>
        <div class="col-lg-6 col-md-6">
          <form [formGroup]="recouvrementForm" (ngSubmit)="doRecouvrement()">
            <!-- row -->
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="">
                      <div class="col-xs-12 mb-4">
                        <div>
                          <h6 class="card-title mb-1">Paiement</h6>
                          <p class="text-muted card-sub-title mt-2"></p>
                        </div>
                        <div class="row col-md-12 col-xs-12">
                          <p class="mg-b-10">Montant</p>
                          <input
                            type="text"
                            class="form-control mb-4"
                            placeholder=""
                            formControlName="amount"
                          />

                          <button class="btn btn-primary pd-x-20" type="submit">
                            Valider
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mg-t-30"></div>
            <!-- /row -->
          </form>
        </div>
      </div>
    </div>

    <!-- COL-END -->
  </div>
</div>
